:root{
    --primary-color:#cb3931;
    --secondary-color:#f0f0f0;
    --grey:#333;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0 4%;
}